{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Prueba</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore omnis eius sequi inventore obcaecati sit assumenda accusantium, repellendus consectetur dicta libero, asperiores animi, perspiciatis labore velit numquam sapiente quas ut!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/raspberrypi3.jpg" class="img-thubnail"/>
    </div>
</div>
{{> footer }}